
@{
    ViewBag.Title = "Confirm Email After Registration";
}

<h2>Confirm Email After Registration</h2>
<div>
    <p>Thank you for Registration, we send verify code to e-mail - @ViewBag.useremail   </p>
    <p>Please confirm your email.</p>
    <p>@Html.ActionLink("Click here to go start page ", "Index", "Home")</p>
</div>
