
@{
    ViewBag.Title = "AllAdsControl";
}

<h2>All Ads Control</h2>
<div class="col-lg-2 col-md-2 col-sm-3 hidden-xs">
    <ul class="categories">
        <li><a href="@Url.Action("UserControl","Admin")">User Control</a></li>
        <li><a href="@Url.Action("ManageAds","Admin")">Managing Ads</a></li>
        <li><a href="@Url.Action("AllAdsControl","Admin")">View All Ads</a></li>
    </ul>
</div>
